.banner {
    background:url('./img/fall-banner.jpg') no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    background-size: cover;
    padding: 20rem;
}
.news-div {
    border: 1px solid #ccc;
    margin: .5rem 0;
}
/* .news-div:after {
        content: '';
        display: block;
        background: green;
        width: 50px;
        height: 50px !;
        transform: rotate(60deg);
        position: relative;
        padding: 1rem;
        border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 25px solid #555;
        top: -100%;
        left: 95%;
} */
.news-parent-div{
    margin: 1rem;
}

.answer{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}
.active{
    display: block;
}
.deactive{
    display: none;
}
li[class="question"]{
   list-style: circle;
   color:green;
   font-size: 1.5rem;
}
p[class="question-tag"]{
    color: black;
}
.survey {
    color: #fff;
    padding: .5rem;
    margin: .5rem 0;
    background: #00245b;
}
.survey h5, .survey p {
    margin: 0;
}